In [ ]:
# Part 1

# Import package
import pandas as pd
import numpy as np

# Import data
df = pd.read_csv('cars.csv')

# Check number of row
print(f'''Number of row: {df.shape[0]}''')

# Check number of column
print(f'''Number of column: {df.shape[1]}''')

# Check unique value of column
print(f'''Unique value of the cyclenders: {df['cylenders'].unique()}''')
print(f'''Number of unique value of the cyclenders: {len(df['cylenders'].unique())}''')

# Mean of horsepower
print(f'''Mean of horsepower: {df['horsepower'].mean()}''')

# Max of horsepower
print(f'''Max of horsepower: {df['horsepower'].max()}''')

# Print the row with column "name" and "Price" where the price is the highest
print(f'''Car name with highest price: {df[df.Price == df.Price.max()][['name','Price']]}''')

# Rename column name
df.rename(columns={'name':'car_name'}, inplace = True)

# Check the first 5 row
df.head()

Number of row: 428
Number of column: 19
Unique value of the cyclenders: [ 4  6  3  8  5 12 10 -1]
Number of unique value of the cyclenders: 8
Mean of horsepower: 215.8855140186916
Max of horsepower: 500
Car name with highest price:                     name   Price
287  Porsche 911 GT2 2dr  192465

,car_name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [2]:
# Part 2

# Index all row with column "car_name" and "Price"
car_pricing = df.loc[:,['car_name','Price']]
print(f'''
      Dataframe after indexing
      {car_pricing.head()}''')

# Define a function to categorize the car based on price
def pricing_category(price):
    if price < 20000:
        return 'Budget Car'
    elif price >= 20000 and price <= 35000:
        return 'Suitable Car'
    else:
        return 'Expensive Car'
    
# Create a new column to categorize the car based on price
car_pricing['category'] = car_pricing['Price'].apply(pricing_category)
print(f'''
      Dataframe with cateogry column
      {car_pricing.head()}''')

# Count the number of car in each category
print(f'''
      Number of car in each category {car_pricing['category'].value_counts()}''')

      Dataframe after indexing
                            car_name  Price
0           Chevrolet Aveo 4dr  11690
1  Chevrolet Aveo LS 4dr hatch  12585
2       Chevrolet Cavalier 2dr  14610
3       Chevrolet Cavalier 4dr  14810
4    Chevrolet Cavalier LS 2dr  16385

      Dataframe with cateogry column
                            car_name  Price    category
0           Chevrolet Aveo 4dr  11690  Budget Car
1  Chevrolet Aveo LS 4dr hatch  12585  Budget Car
2       Chevrolet Cavalier 2dr  14610  Budget Car
3       Chevrolet Cavalier 4dr  14810  Budget Car
4    Chevrolet Cavalier LS 2dr  16385  Budget Car

      Number of car in each category category
Suitable Car     193
Expensive Car    137
Budget Car        98
Name: count, dtype: int64