## Arithmetic calculation

In [2]:
5+5

10

In [3]:
5*5

25

In [4]:
5/5

1.0

In [5]:
addition = 5+5
addition

10

In [6]:
multiplication = 5*5
multiplication

25

## List and list indexing

In [8]:
prime_numbers = [1,3,5,7,11,13,17]

In [9]:
prime_numbers

[1, 3, 5, 7, 11, 13, 17]

In [10]:
prime_numbers[1]

3

In [11]:
prime_numbers[0] ### python index start with 0

1

In [12]:
prime_numbers[0:3] ### python ignore the last index

[1, 3, 5]

In [13]:
prime_numbers[0:4] ### go from 0 to before 4

[1, 3, 5, 7]

In [14]:
prime_numbers[:] ### all index in the list

[1, 3, 5, 7, 11, 13, 17]

In [15]:
prime_numbers[:3] ### go from 0 to before 3

[1, 3, 5]

In [16]:
prime_numbers[3:] ### go from 3 to the end

[7, 11, 13, 17]

In [17]:
class_list = ['Mark','Jack','Mo','Raj','Sarah','Leo']
class_list

['Mark', 'Jack', 'Mo', 'Raj', 'Sarah', 'Leo']

In [18]:
class_list[3:]

['Raj', 'Sarah', 'Leo']

In [19]:
class_list[:3]

['Mark', 'Jack', 'Mo']

In [20]:
class_list[0:3]

['Mark', 'Jack', 'Mo']

## Dictionaries

In [22]:
class_dict = dict({'Haytham':'male', 'Frank':'male', 'Leila':'female','Sarah':'female'})

In [23]:
class_dict

{'Haytham': 'male', 'Frank': 'male', 'Leila': 'female', 'Sarah': 'female'}

In [24]:
### Getting keys from dictionary

class_dict.keys()

dict_keys(['Haytham', 'Frank', 'Leila', 'Sarah'])

In [25]:
### Getting values from dictionary

class_dict.values()

dict_values(['male', 'male', 'female', 'female'])

In [26]:
class_dict['Haytham']

'male'

In [27]:
class_dict['Leila']

'female'

## Array (numpy)

In [29]:
import numpy as np ### import library

In [30]:
prime = np.array([1,3,5,7,9,11,13,17,19])

In [31]:
prime/prime

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [32]:
prime+5

array([ 6,  8, 10, 12, 14, 16, 18, 22, 24])

## DataFrame (pandas)

In [34]:
import pandas as pd

In [35]:
retail_data = pd.read_csv('online_retail2.csv')

In [36]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [37]:
retail_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [38]:
retail_data.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [39]:
retail_data.shape

(1067371, 8)

In [40]:
retail_data.describe() ### only describe the numerical columns, not categorical ones

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [41]:
retail_data.Quantity.describe()

count    1.067371e+06
mean     9.938898e+00
std      1.727058e+02
min     -8.099500e+04
25%      1.000000e+00
50%      3.000000e+00
75%      1.000000e+01
max      8.099500e+04
Name: Quantity, dtype: float64

In [42]:
retail_data['Quantity'].describe()

count    1.067371e+06
mean     9.938898e+00
std      1.727058e+02
min     -8.099500e+04
25%      1.000000e+00
50%      3.000000e+00
75%      1.000000e+01
max      8.099500e+04
Name: Quantity, dtype: float64

In [43]:
### using loc (location) and iloc (index location)

retail_data.iloc[:5,:5] ### iloc use index to specify

,Invoice,StockCode,Description,Quantity,InvoiceDate
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00

In [44]:
retail_data.loc[:,['Invoice','Quantity']] ### loc use name to specify

        Invoice  Quantity
0        489434        12
1        489434        12
2        489434        12
3        489434        48
4        489434        24
...         ...       ...
1067366  581587         6
1067367  581587         4
1067368  581587         4
1067369  581587         3
1067370  581587         1

[1067371 rows x 2 columns]

In [85]:
retail_data.iloc[[1,4,5],[1,3,6]]

  StockCode  Quantity  Customer ID
1    79323P        12      13085.0
4     21232        24      13085.0
5     22064        24      13085.0

In [87]:
### get the columns name

retail_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [89]:
retail_data['Price_USD'] = retail_data['Price']*1.2

In [91]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60

## Boolean

In [96]:
haytham = 32
mariam = 23
frank = 15
leo = 12
sarah = 8

In [98]:
haytham > 32

False

In [100]:
haytham < 32

False

In [102]:
haytham >= 32

True

In [105]:
haytham <= 32

True

In [117]:
(haytham > 23) and (haytham < 40)

True

In [119]:
(haytham > 23) or (mariam > 26)

True

In [121]:
(haytham > 23) and (mariam == 23) and (leo < 15)

True

## Functions & If-else

In [153]:
def status(person):
    if person >= 20:
        return 'adult'
    elif person >= 14:
        return 'teenager'
    else:
        return 'child'

In [155]:
status(haytham)

'adult'

In [157]:
status(mariam)

'adult'

In [159]:
status(leo)

'child'

## Map funcion

In [162]:
class_list=[haytham,mariam,leo,frank,sarah]

In [164]:
### map() function: make an iterator that computes the function using arguments from each of the iterables
### first arguement is the function and second arguement is the list

map_object = map(status,class_list)

In [166]:
status_list = list(map_object)
status_list

['adult', 'adult', 'child', 'teenager', 'child']

## For loops

In [171]:
for age in class_list:
    print(age)

32
23
12
15
8

In [173]:
for i in class_list:
    print(i)

32
23
12
15
8

In [177]:
for age in class_list:
    print(status(age))

adult
adult
child
teenager
child

In [181]:
status_list = []

for age in class_list:
    status_list.append(status(age))

status_list

['adult', 'adult', 'child', 'teenager', 'child']

## Mapping on a dataframe

In [184]:
def ukornot(country):
    if country == 'United Kingdom':
        return True
    else:
        return False

In [186]:
ukornot('Frane')

False

In [188]:
ukornot('United Kingdom')

True

In [190]:
retail_data['uk'] = retail_data['Country'].map(ukornot)

In [196]:
retail_data['uk'].value_counts()

uk
True     981330
False     86041
Name: count, dtype: int64

## For looping on a dataframe

In [217]:
first_10 = retail_data.iloc[:10,:]
first_10.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True

In [223]:
first_10['uk1']=np.nan
first_10.head()

C:\Users\thanh\AppData\Local\Temp\ipykernel_21788\1614799020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10['uk1']=np.nan

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk,uk1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True,NaN
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,NaN
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,NaN
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True,NaN
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True,NaN

In [229]:
first_10.shape[0] ### check the number of row

10

In [239]:
for i in range(len(first_10)):
    first_10.loc[i,'uk1']=ukornot(first_10.Country[i])

C:\Users\thanh\AppData\Local\Temp\ipykernel_21788\1484057545.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'True' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  first_10.loc[i,'uk1']=ukornot(first_10.Country[i])

In [241]:
first_10.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk,uk1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True,True
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,True
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,True
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True,True
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True,True