In [2]:
import inventorize3 as inv
import pandas as pd
import math

In [3]:
d = 4000
c = 2500
s = 6000
h = 0.1

eoq = pd.DataFrame(inv.eoq(annualdemand = d, orderingcost = s, purchasecost = c, holdingrate = 0.1), index = [0])
eoq

          EOQ   T_years   T_weeks
0  438.178046  0.109545  5.696315

In [4]:
TLC = d*s/eoq['EOQ'][0] + eoq['EOQ'][0]*h*c/2 + d*c
TLC

10109544.511501033

In [5]:
inv.TQpractical(annualdemand = d, orderingcost = s, purchasecost = c, holdingrate = 0.1)

{'Ts': 0.10954451150103323,
 'Tstarweeks': 5.6963145980537275,
 'Qstar': 438.1780460041329,
 'Tpractical': 4,
 'Tpracticalweeks': 4,
 'Qpractical': 307.69230769230774}

In [6]:
TLC1 = d*s/500 + 500*h*c*0.9/2 + d*c*0.9
TLC1

9104250.0

In [7]:
eoq

          EOQ   T_years   T_weeks
0  438.178046  0.109545  5.696315

In [8]:
t = eoq['T_years'][0]
t

0.10954451150103323

In [9]:
L = 2/12
L

0.16666666666666666

In [10]:
if (L <= t):
    L_prime = L
else:
    L_prime = L - math.ceil(L - t)*t
    
rop = L_prime * d

In [11]:
rop

228.48862066253372